.search{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: .5rem;
    padding: 0rem .5rem 0rem .2rem;
    box-sizing: border-box;
    height: 2rem;
  }
  .search svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .search input {
    border: none;
    padding-left: .2rem;
  }